# Ignore saved models
*.pth

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Pychar
.idea/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db
